*{
    font-family: Poppins;
    margin: 0;
    padding: 0;
    
}
html{
    scroll-behavior: smooth;
}
#navbar{
    display: flex;
    justify-content: flex-end;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #be3144;
}
#navbar a{
    padding: 20px;
    text-decoration: none;
    font-size: 22px;
    color: white;
}
#navbar a:hover {
    background-color: #45567d;
}
header {
    background-color: #be3144;
    
}
#welcome-section {
    background-color: black;
    color: white;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.welcome-section-header{
    font-size: 60px;
}
.welcome-section-header-text{
    color: #be3144;
    font-size: 30px;
}
#projects{
    width: 100%;
    background-color: #45567d;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.project-header{
    margin: 100px auto;
    font-size: 42px;
    width: max-content;
    text-align: center;
    color: white;
    border-bottom: 2px solid white;
}
#project-items {
    display: grid;
    grid-template-columns: 400px 400px 400px;
    grid-template-rows: auto auto;
    grid-gap: 40px;
}
#project-items a img {
    max-width: 400px;
    margin-bottom: none;
}
a{
    text-decoration: none;
}
.project-tile{
    width: 100%;
    padding: 20px 0px;
    text-align: center;
    color: white;
    font-size: 20px;
    background-color: #303841;
}
button{
    margin-top: 60px;
    margin-bottom: 100px;
    background-color: #303841;
    color: #f0f0f0; 
    font-family: Poppins; 
    font-size: 20px;  
    border-radius: 5px;
    padding: 10px 20px; 
    text-align: center
}
button:hover{
    background-color: #be3144;
}
#contact{
    width: 100%;
    height: 80vh;
    color: #f0f0f0;
    background-color: #303841;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-top: 30px;
    border-bottom: 3px solid #be3144;
}
#contact-header{
    font-size: 60px;
}
#contact-header-text{
    font-size: 18px;
}
#contact-links{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.contact-item{
    padding: 20px 20px;
}
.profile-link{
    padding: 10px 10px;   
    font-size: 24px;
    color: white;
}
i{
    scale: 1.5;
}
footer{
    display: flex;
    justify-content: space-around;
    background-color: #303841;
    padding: 40px;
}
footer p {
    color: #f0f0f0;
    font-size: 18px;
}
@media only screen and (max-width: 1000px) {
    #project-items a {
        max-width: max-content;
    }
    #project-items a img {
        max-width: 250px;
        margin-bottom: none;
    }
    #projects{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    #project-items{
        display: grid;
        grid-template-columns: auto auto auto;
    }
    
}